
.generate-header-skin() {
    @header-skin: {
        background-color: @header-color-light;
    };
}

.generate-header-text-skin() {
    @header-text-skin: {
        color: @header-color-default;
    };
}

.generate-header-theme-skin() {
    @header-theme-skin: {
        background: transparent;
    }
}

.generate-theme-skin() {
    @theme-skin: {
        background: transparent;
    }
}