
.generate-header-structure() {
    @header-structure: {
        height: 60px;
        width: 100%;
        padding: 9px 15px 5px 15px;
        float: left;
    };
}

.generate-header-text-structure() {
    @header-text-structure: {
        font-size: 30px;
    };
}