/* You can add global styles to this file, and also import other style files */

.app {
    .header {
        height: 60px;
        width: 100%;
        padding: 5px 15px;
        float: left;

        background-color: #4c4c99;

        .header-text {
            font-size: 30px;

            color: #ffffff;
        }
    }

    .todo-state-menu {
        height: 45px;
        width: 100%;
        float: left;
        padding-left: 15px;

        box-shadow: 0 0 1px #3b3b77;
        border-bottom: 1px solid #4c4c99;
        background-color: #3b3b77;
        color: #ffffff;

        .todo-item {
            float: left;
            height: 45px;
            padding: 10px;
            cursor: pointer;

            &.todo-state-selected {
                background-color: #4c4c99;
            }
        }

        .todo-state {
            .todo-item();

            &:hover {
                background-color: #4c4c99;
            }
        }

        .todo-state-active {
            .todo-state();
        }

        .todo-state-completed {
            .todo-state();
        }

        .todo-operation {
            .todo-item();

            &:hover {
                background-color: #4c4c99;
            }
        }

        .todo-add {
            .todo-operation();
        }
    }

    .todo-list-fixed {
        position: fixed;
        top: 105px;
        bottom: 0;
    }

    .todo-list {
        .todo-list-fixed();
        padding: 0 15px;
        width: 30%;
        overflow: hidden;
        float: left;

        background-color: #3b3b77;
        color: #ffffff;

        .reset-ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .todo-list-group {
            .reset-ul();
            .todo-list-fixed();
            
            overflow-x: hidden;
            overflow-y: auto;
            padding: 0;
            width: 28.4%;
            float: left;
        }
    }

    .todo-detail-pane {
        margin-left: 30%;
        position: fixed;
        top: 105px;
        bottom: 0;
        right: 0;
        left: 0;
        float: left;

        color: #3b3b77;
        background-color: #d1d1ff;

        .todo-detail {
            .todo-detail-header {
                margin: 10px 20px 10px 20px;
                font-weight: 600;
                font-size: 30px;

                border-bottom: 1px solid #3b3b77;
            }

            .todo-description {
                margin: 0px 20px;
                position: fixed;
                bottom: 0;
                top: 161px;
                overflow: auto;
            }
        }
    }

    .todo {
        cursor: pointer;
        width: 100%;
        padding: 5px 15px;
        float: left;
        border-top: 1px solid #3b3b77;
        
        background-color: #4c4c99;

        &.todo-edit-mode,
        &.todo-selected {
            background-color: #3b3b77;
            border: 1px solid #4c4c99;
            border-top: none;

            .todo-view {
                .todo-operations {
                    .todo-action {
                        padding: 5px;
                        text-align: center;

                        background-color: #4c4c99;
                        border: 1px double #3b3b77;
                    }

                    .todo-edit-toggle {
                        .todo-action();
                    }

                    .todo-delete {
                        .todo-action();
                    }

                    .todo-edit-cancel {
                        .todo-action();
                    }
                }
            }

            .todo-edit {
                .todo-view();
            }
        }

        &:hover {
            .todo-edit-mode();
        }

        .todo-view {
            width: 100%;
            float: left;

            .todo-operations {
                cursor: pointer;
                width: 65px;
                float: left;

                .todo-action {
                    padding: 5px;
                    text-align: center;

                    background-color: #3b3b77;
                    border: 1px double #4c4c99;
                }

                .todo-edit-toggle {
                    .todo-action();
                }

                .todo-delete {
                    .todo-action();
                }
            }

            .todo-text {
                padding-left: 15px;
                width: ~"calc(100% - 65px)";
                float: left;
            }
        }

        .todo-edit {
            width: 100%;
            float: left;

            .todo-operations {
                cursor: pointer;
                width: 65px;
                float: left;

                .todo-action {
                    padding: 5px;
                    text-align: center;

                    background-color: #3b3b77;
                    border: 1px double #4c4c99;
                }

                .todo-edit-toggle {
                    .todo-action();
                }

                .todo-edit-cancel {
                    .todo-action();
                }
            }

            .todo-form {
                padding-left: 15px;
                width: ~"calc(100% - 65px)";
                float: left;

                label {
                    width: 100%;
                }

                input[type='text'] {
                    width: 100%;
                }

                textarea {
                    width: 100%;
                    height: 100px;
                }
            }
        }
    }
}