@import "../node_modules/bootstrap/less/bootstrap";

// generators
@import "app/core/styles/generator";
@import "app/todo/styles/generator";

//generation
/*
    [style]
    - mono
    [color]
    - gray
    - blue
    - purple
    - red
    - brown
    - green
*/
.app {
    &.theme {
        &.mono {         
            &.gray {
                @default: rgba(255, 255, 255, 1);
                @light: rgba(122, 122, 122, 1);

                .generate-header-component(@default,@light);
                .generate-monochrome-todo-component(@default,@light, 50%);
            }

            &.blue {
                @default: rgba(255, 255, 255, 1);
                @light: rgba(76, 84, 140, 1);

                .generate-header-component(@default,@light);
                .generate-monochrome-todo-component(@default,@light, 50%);
            }

            &.purple {
                @default: rgba(255, 255, 255, 1);
                @light: rgba(138, 106, 152, 1);

                .generate-header-component(@default,@light);
                .generate-monochrome-todo-component(@default,@light, 50%);
            }

            &.red {
                @default: rgba(255, 255, 255, 1);
                @light: rgba(140, 76, 84, 1);

                .generate-header-component(@default,@light);
                .generate-monochrome-todo-component(@default,@light, 50%);
            }

            &.brown {
                @default: rgba(255, 255, 255, 1);
                @light: rgba(140, 84, 76, 1);

                .generate-header-component(@default,@light);
                .generate-monochrome-todo-component(@default,@light, 50%);
            }

            &.orange {
                @default: rgba(255, 255, 255, 1);
                @light: rgba(176, 84, 40, 1);

                .generate-header-component(@default,@light);
                .generate-monochrome-todo-component(@default,@light, 50%);
            }

            &.green {
                @default: rgba(255, 255, 255, 1);
                @light: rgba(84, 140, 76, 1);

                .generate-header-component(@default,@light);
                .generate-monochrome-todo-component(@default,@light, 50%);
            }
        }
    }
}